body {
    background-color: white
}
.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.main {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.author{
    height: auto;
    border-radius: 70%;
      filter: none;
      -webkit-filter: grayscale(0%);
    padding-bottom: 20px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
    
.author:hover{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    
}

img {
    max-width: 100%;
    height: auto;
    }